<!DOCTYPE html>



<p style = "color: black; font-family: Tahoma; font-weight: bold; font-size: 1.4em; margin-top: 100px; text-align: center">What is OOTD?</p>

<center>
<img style = "border: 3px solid black; margin-top: -10px" align = "middle" src="/assets/ootd2.jpg" alt="ootd" width="200" >
</center>

<p style = "color: black; font-family: Tahoma; font-size: 1 em; margin-top: 20px; margin-left: 30%; margin-right: 30%">OOTD stands for Outfit of the Day. This website enables people interested in fashion to share their daily looks with each other. OOTD's inspiration came from fashion gurus on YouTube that make videos about their daily looks. Enjoy!</p>

<p style = "color: black; font-family: Tahoma; font-weight: bold; font-size: 1.4em; margin-top: 10px; text-align: center">Who am I?</p>

<center>
<img style = "border: 3px solid black; margin-top: -10px" align = "middle" src="/assets/kyker.jpg" alt="ootd" width="200" >
</center>

<center>
<a href="http://we-need-an-escape.tumblr.com" style = "color: black; font-family: Tahoma; margin-top: -10 px">
My personal blog</a>
</center>
<p style = "color: black; font-family: Tahoma; font-size: 1 em; margin-top: 20px; margin-left: 30%; margin-right: 30%; margin-bottom: 35px">I am 17 years old and new to coding. This is my first website. Although I am not very into fashion, many of my friends are fashion geeks, which is why I decided to build this website. Maybe your photos will inspire me.</p>






<div style = "background: #CCFFFF; font-family: Tahoma; height: 30px ; float: left; width: 101%; position: fixed; bottom: 0%; margin-left: -10px;">
<p style = "float:left; margin-left: 30px; margin-top: 6px; color: grey; font-size: 80%"> created by Katelynn Kyker </p>

<p style = "float: right; margin-right: 40px; margin-top: 5px"><%= link_to "Contact", contact_path %></p>
<p style = "float: right; margin-right: 40px; margin-top: 5px"><%= link_to "Help", help_path %></p>
<p style = "float: right; margin-right: 40px; margin-top: 5px"><%= link_to "About", about_path %></p>
</div>
</html>