<!DOCTYPE html>


<p style = "color: black; font-family: Tahoma; font-weight: bold; font-size: 1 em; margin-top: 200px; margin-left: 30%; margin-right: 30%">If you need help with tech issues, email me at kkyker17@gmail.com. However, I can't help you with the fashion or your outfits. You're on your own for that.</p>



<div style = "background: #CCFFFF; font-family: Tahoma; height: 30px ; float: left; width: 101%; position: fixed; bottom: 0%; margin-left: -10px;">
<p style = "float:left; margin-left: 30px; margin-top: 6px; color: grey; font-size: 80%"> created by Katelynn Kyker </p>
<p style = "float: right; margin-right: 40px; margin-top: 5px"><%= link_to "Contact", contact_path %></p>
<p style = "float: right; margin-right: 40px; margin-top: 5px"><%= link_to "Help", help_path %></p>
<p style = "float: right; margin-right: 40px; margin-top: 5px"><%= link_to "About", about_path %></p>
</div>
</html>