<!DOCTYPE html>



<p style = "color: black; font-family: Tahoma; font-weight: bold; font-size: 1.4em; margin-top: 100px; text-align: center">How to Use OOTD</p>


<p style = "color: black; font-family: Tahoma; font-size: 1 em; margin-top: 20px; margin-left: 30%; margin-right: 30%">1. Sign up!</p>
<p style = "color: black; font-family: Tahoma; font-size: 1 em; margin-top: 20px; margin-left: 30%; margin-right: 30%">2. Post a picture by uploading an image from your computer. Add the price and details of your outfit.</p>
<p style = "color: black; font-family: Tahoma; font-size: 1 em; margin-top: 20px; margin-left: 30%; margin-right: 30%">3. View other users' outfits on the main OOTD page. You can sort through all the looks by price, date posted, or favorites.</p>
<p style = "color: black; font-family: Tahoma; font-size: 1 em; margin-top: 20px; margin-left: 30%; margin-right: 30%">4. Favorite the outfits you like by clicking on the purple star.</p>


<div style = "background: #CCFFFF; height: 30px ; font-family: Tahoma; float: left; width: 101%; position: fixed; bottom: 0%; margin-left: -10px;">
<p style = "float:left; margin-left: 30px; margin-top: 6px; color: grey; font-size: 80%"> created by Katelynn Kyker </p>
<p style = "float: right; margin-right: 40px; margin-top: 5px"><%= link_to "Contact", contact_path %></p>
<p style = "float: right; margin-right: 40px; margin-top: 5px"><%= link_to "Help", help_path %></p>
<p style = "float: right; margin-right: 40px; margin-top: 5px"><%= link_to "About", about_path %></p>
</div>
</html>