<br />
<br />
<br />
<br />
<br />
<br />

<center>
<img style = "margin-top: -9.4%; margin-left: 25%; position: fixed" align = "middle" src="/assets/burb2.jpg" alt="burb2" width="800" >



<font style= "font-family: Tahoma">
<div class="row" style = "position: fixed">
  <div class="span6 offset3">
    <h3 style = "margin-bottom: 3px;">Sign In</h3>
    <%= form_for(:session, url: sessions_path) do |f| %>


      <%= f.text_field :email, :placeholder => "Email" %>
      <br />

      <%= f.password_field :password, :placeholder => "Password"  %>
        <br />

      <%= f.submit "Sign in", class: "btn btn-normal btn-primary", style: "margin-right: 27%; float: right" %>
    <% end %>
  </div>
</div>
</font>
</center>