<head>


<h1 style = "color: #9999FF; background: #CCFFFF; margin-top:9%;">
	<font style = "font-size: 50%; font-family: Tahoma; float: left; position: fixed; margin-top: 0px; margin-left: 20px"> <%= link_to "Create New Post", new_post_path %></font>
</h1>
<br></br>

<h1 style = "color: #9999FF; background: #CCFFFF">
	<font style = "font-size: 50%; font-family: Tahoma; float: left; position: fixed; margin-top: 0px; margin-left: 20px"> <%= link_to "Most Recent", root_url %></font>
</h1>
<br></br>
<h1 style = "color: #9999FF; background: #CCFFFF">
	<font style = "font-size: 50%; font-family: Tahoma; float: left; position: fixed; margin-top: -30px; margin-left: 20px"> <%= link_to "Most Liked", most_liked_path %></font>
</h1>
<br></br>
<h1 style = "color: #9999FF; background: #CCFFFF">
	<font style = "font-size: 50%; font-family: Tahoma; float: left; position: fixed; margin-top: -60px; margin-left: 20px"> <%= link_to "Most Expensive", most_expensive_path %></font>
</h1>

</head>

<center style = "color: #9999FF; font-family: Tahoma; font-weight: bold; font-size: 1em; margin-top: -16%">

</center>